COMPOSE_PROJECT_NAME=woocommerce-example

WORDPRESS_PORT=8080
PMA_PORT=8081

MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress
MYSQL_ROOT_PASSWORD=root

WORDPRESS_DB_HOST=db:3306
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=wordpress

WP_URL=http://localhost:8080
WP_TITLE=SumUp WooCommerce Test Store
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=admin1234
WP_ADMIN_EMAIL=dev@example.local

WC_COUNTRY=DE
WC_CURRENCY=EUR

SUMUP_PLUGIN_PATH=..
