.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.position-ref > a {
  height: 100%;
  text-align: center;
}

.logo {
  height: 100%;
  width: auto;
}